# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/.vs
/ELibrary/.vs/ELibrary/DesignTimeBuild
/ELibrary/.vs/ELibrary/FileContentIndex
/ELibrary/.vs/ELibrary/v17
/ELibrary/.vs/El_Library/DesignTimeBuild
/ELibrary/.vs/El_Library/FileContentIndex
/ELibrary/.vs/ProjectEvaluation
/ELibrary/.vs
/ELibrary/ELibrary/bin/Debug/net7.0
/ELibrary/ELibrary/obj/Debug/net7.0
/ELibrary/ELibrary/obj/Release/net7.0
/ELibrary/ELibrary/obj
